.App {
    text-align: left;
    margin-left: 10px;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


.operations-button {
    bottom: unset;
    position: relative;
    margin-top: 20px;
}

.operations-button .btn-reset {
    color: white;
    background-color: red;
    border-color: red;
    border: 1px solid black;
    margin: 2px;
}

.operations-button button {
    margin: 2px;
    padding: 5px;
    background-color: white;
    border: 1px solid black;
    font-size: large;
}

input {
    box-sizing: border-box;
    box-shadow: inset;
    text-align: center;
    size-adjust: 10px;
    padding: 10px;
    margin: 5px;
    width: 20%;
    height: 35px;
    border: 1.5px solid black;
}
